<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OptimaBaseForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OptimaBaseForm.Properties.Settings>
            <setting name="OptPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OptUser" serializeAs="String">
                <value />
            </setting>
            <setting name="OptPass" serializeAs="String">
                <value />
            </setting>
            <setting name="OptCompany" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerKey" serializeAs="String">
                <value />
            </setting>
            <setting name="OptModulyUsera" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptKBP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptHAP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BLToken" serializeAs="String">
                <value />
            </setting>
            <setting name="NazwaSerweraSql" serializeAs="String">
                <value />
            </setting>
            <setting name="NazwaBazySql" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowsAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SqlAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginSql" serializeAs="String">
                <value />
            </setting>
            <setting name="HasloSql" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlOptBazaKonfigConnectionStr" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlConnStringPobierajZOpt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptIdAtrStatusZamOpt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteOldLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteOldLogsDays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CompanyGID" serializeAs="String">
                <value />
            </setting>
        </OptimaBaseForm.Properties.Settings>
    </userSettings>
</configuration>